rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /recipes/{document=**} {
      // allow read, write: if
      //     request.time < timestamp.date(2023, 2, 25);
      // only auth
      allow create, write: if request.auth != null;

      // logged in user uid must match the document creator to read and delete
      allow read,delete: if request.auth.uid == resource.data.uid;
    }
  }
}